{% extends 'backtemplate.html.twig' %}
{% block title %}Statistques Produits {% endblock %}
{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    {% endblock %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="categories" width="400" height="100"></canvas>

        <canvas id="produits" width="400" height="100"></canvas>
    </div>

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>

        let categories = document.querySelector("#categories")
        let categGraph = new Chart(categories, {
            type: "pie",
            data: {
                labels: {{ categNom|raw }},
                datasets: [{
                    label: "Répartition des catégories",
                    data: {{ categCount|raw }},
                    backgroundColor: {{ categColor|raw }}
                }]
            }
        })
        let produits = document.querySelector("#produits")
        let proGraph = new Chart(produits, {
            type: "line",
            data: {
                labels: {{ prix|raw }},
                datasets: [{
                    label: "Nombre de produits par prix",
                    data: {{ produitCount|raw }}
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })

//test
        let produitsQ = document.querySelector("#produits")
        let quantiteGraph = new Chart(produitsQ, {
            type: "line",
            data: {
                labels: {{ quantite|raw }},
                datasets: [{
                    label: "Nombre de produits par quantite",
                    data: {{ produitCount|raw }}
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }

        })
    </script>
{% endblock  %}
{% endblock  %}